scheduler {
    background-color: #009ba5 !important;

    .fc-view-container {
        
    }

    td.fc-today {
        background-color: rgba(235, 75, 10, .125) !important;
    }

    .fc-button {
        border: 0;
        background-color: #009ba5;
        color: white;
    }

    button, .fc-button, .fc-state-active, .fc-state-default {
        border: 0;
        background-color: #009ba5;
        box-shadow: 0 !important;
        text-shadow: 0 !important;
    }

    .fc-button.fc-corner-right {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; 
    }

    .fc-button.fc-corner-left {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px; 
    }
}
