active-process {
    font-family: 'Innogy';

    h4 {
        font-size: 15px !important;
        color: white !important;
        font-weight: bold !important;
    }

    p {
        color: white !important;
    }

    hr {
        margin-top: 10px !important;
    }

    .mail {
        text-decoration: underline !important;
        cursor: pointer;
    }

    ion-card {

        padding: 15px !important;

        #persons::-webkit-scrollbar-track {
            display: none;
            background-color: transparent !important;
            color: transparent !important;
        }

        #info {
            height: 300px !important;
        }

        #persons {
            height: 200px !important;
            overflow-y: scroll;
        }

        .name {
            font-weight: bold;
        }

        .job {
            margin-left: 5px;
            font-style: italic;
        }

        ion-card-content {
            font-size: 16px !important;
        }

        ion-card-header {
            color: white !important;
            font-size: 30px !important;
        }

        border-radius: 0 !important;
        box-shadow: 0 !important;
        background-color: #f59b00 !important;
        color: white !important;
    }

    ion-list {
        color: white !important;
        background-color: #f59b00 !important;
    }

    ion-item {
        color: white !important;
        background-color: #f59b00 !important;
    }
}
