<ion-card>
  <ion-card-header>
    {{process.getTitle()}}
  </ion-card-header>
  <ion-card-content>
    {{process.getDescription()}}
    <ion-list>
        <ion-item *ngFor="let child of process.getChildren()">
          {{child.getTitle()}}
        </ion-item>
    </ion-list>
    <ion-list>
      <!-- <ion-item *ngFor="let person of process.getPersons()">
        <h4>{{person.getName()}}</h4>
        <p>{{person.getFirm()}}</p>
        <p>{{person.getJob()}}</p>
        <p>Tel: {{person.getTel()}}</p>
        <p>Mail: {{person.getMail()}}</p>
      </ion-item> -->
    </ion-list>
  </ion-card-content>
</ion-card>