all-processes {
    font-family: 'Innogy';

    button.triggered {
        background-color: rgba(0, 0, 0, .125);
    }

    ion-card-header {
        font-size: 30px !important;
        margin: 15px 0 0 15px !important;
    }

    ion-card {
        background-color: #c81e82 !important;
        color: white !important;
        border-radius: 0 !important;
        box-shadow: 0 !important;

        ion-card-header {
            color: white !important;
        }
    }

    ion-row {
        margin-bottom: 25px;
    }

    button {
        background-color: #c81e82 !important;
        color: white !important;

        h3 {
            font-size: 18px !important;
            color: white !important;
            font-weight: bold !important;
        }
    }

    #list-col {
        border-right: 1px solid !important;
        padding-left: 15px;

        // button {
        //     border-left: 3px solid white;
        //     padding-left: 10px;
        // }
    }

    #info-col {
        padding: 15px !important;
        padding-left: 40px !important;
    }

    #person-col {
        padding-left: 40px !important;
    }

    h2 {
        font-size: 20px !important;
        color: white !important;
        font-weight: bold !important;

        padding-left: 5px;
    }

    h4 {
        margin: 10px 0 5px 0 !important;
        font-size: 16px !important;
        color: white !important;
        font-weight: bold !important;
    }

    p {
        color: white !important;
    }
}
