<ion-card>
    <ion-card-header>
      Projektabschnitte
    </ion-card-header>
    <ion-row>
      <ion-col col-4 id="list-col">
        <ion-list>
          <button ion-item *ngFor="let process of processes" (click)="click(process)">
            <h3>{{process.getTitle()}}</h3>
            <small>{{process.getStart() | date}} - {{process.getEnd() | date}}</small>
          </button>
        </ion-list>
      </ion-col>
      <ion-col col-8 id="info-col">
        <div *ngIf="selected">
          <h2>{{selected.title}}</h2>
          <ion-row>
            <ion-col col-6>
              <h4>Status</h4>
              <span>Begonnen am:</span><span style="float: right;"> {{selected.start | date}}</span><br>
              <span>Geplant bis:</span><span style="float: right;">{{selected.end | date}}</span>

              <br>
              <hr>
    
              <h4>Beschreibung</h4>
              <p>{{selected.description}}</p>
    
              <br>
              <hr>

              <h4>Anhang</h4>
              <doc-history [process]="selected" (openModal)="fileModal($event)"></doc-history>
            </ion-col>
            <ion-col col-6 id="person-col">
              <div *ngIf="selected">  
                <h2>&nbsp;</h2>
                <h4>Ansprechpartner</h4>
                <contact-history [process]="selected"></contact-history>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
</ion-card>